## Starting with python

In [1]:
a=10
b=20

In [2]:
print(a)
print(b)

10
20

In [3]:
print("Hello World")

Hello World

In [4]:
myname="Rishab"
print("Hello "+myname)

Hello Rishab

In [5]:
a=30
print(a)

30

In [6]:
c=40

In [7]:
print(c)

40

In [8]:
a=a*a
print(a)

900

In [9]:
a=3
a=a**2
print(a)

9

In [10]:
print("The value of a is {} and value of b is {}".format(a,b))

The value of a is 9 and value of b is 20

In [11]:
print("The value of a is {1} and value of b is {0}".format(a,b))

The value of a is 20 and value of b is 9

In [12]:
print("My name is {myname} and my age is {}".format(25,myname="Rishab"))

My name is Rishab and my age is 25

In [13]:
print("My name is {myname} and my age is {}".format(25,30,myname="Rishab"))

My name is Rishab and my age is 25

In [14]:
# This is a single line comment
value=20
print(value)

20

In [15]:
""" this is a multiple line comment
    i will print value in this cell
"""
print(value)

20

In [16]:
a=1+2+3+4+\
  5+6+7+\
   8
print(a)

36

In [17]:
a=(1+2+3+4+5
  +6+7+8)
print(a)

36

In [18]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [25]:
if a==36:
    print("Statement is true")
    if(a==36):
        print("Inner if block")
else:
    print("Statement is false")

Statement is true
Inner if block

In [28]:
if (a==20):
    print("A and its value is {} ".format(a))
elif (a==36):
    print("A and its value is {} ".format(a))
else:
    print("Else block is executing")

A and its value is 36

In [32]:
a=10
b=20
print(a,end=" ")
print(b)

10 20

In [33]:
print("a",end=" ")
print("b")

a b

In [34]:
print(a)
print(type(a))

10
<class 'int'>

In [35]:
a="Rishab"
print(type(a))

<class 'str'>

In [37]:
a=input("Enter the number")
print(type(a))

Enter the number10
<class 'str'>

In [43]:
a=10
print("The value of a is "+(str)(a))

The value of a is 10

In [45]:
a=input("Enter the value of a")
a=(int)(a)*(int)(a)
print(a)

Enter the value of a10
100

In [53]:
a="Rishab"
a=a*2
print(a)

RishabRishab

In [54]:
def printHello():
    print("Hello World")

In [55]:
printHello()

Hello World

In [78]:
def applause(marks,compliment):
    print("The percentage is"+(str)(marks)+"and complimentis "+compliment)

In [84]:
applause(100,"awesome")

The percentage is100and compliment is awesome

In [85]:
applause(compliment="bad",marks=10)

The percentage is10and compliment is bad

In [91]:
a=(str)(10+20)
print(type(a))

<class 'str'>

In [123]:
a="rishab"
print(a)
print(type(a))

rishab
<class 'str'>

In [126]:
a.islower()
print("**********")
a.isupper()
print("**********")
a.islower()

**********
**********

True

In [106]:
a.isupper()

False

In [107]:
print(len(a))

6

In [108]:
str="       Hello World     "
str.strip()

'Hello World'

In [109]:
str="        Hello World       "
str.lstrip()

'Hello World       '

In [110]:
str="        Hello World       "
str.rstrip()

'        Hello World'

In [143]:
str="MY name is Rishab"
l=str.split()
print(l)

['MY', 'name', 'is', 'Rishab']

In [144]:
print(len(l))

4

In [147]:
print(l[0])

MY

In [148]:
l[:]

['MY', 'name', 'is', 'Rishab']

In [150]:
b=l[:2]
print(l)
print(b)

['MY', 'name', 'is', 'Rishab']
['MY', 'name']

In [155]:
c=l[0:6]
print(c)

['MY', 'name', 'is', 'Rishab']

In [156]:
str="i am Rishab"
d=str[-1:]
print(d)

b

In [163]:
str="i am Rishab"
e=str[-3:]
print(e)

hab

In [164]:
f=str[-3:-3]
print(f)

In [182]:
#range is iterable and int is not iterable
str="Rishab"
print(type(str[0]))
print(type(len(str)))
print(type(range))

for i in str:
    print(i)
    
    
#another way is  
for i in range(0,len(str)):
    print(str[i])

<class 'str'>
<class 'int'>
<class 'type'>
R
i
s
h
a
b
R
i
s
h
a
b

In [187]:
str="1234ab"
print(str.isdigit())

False

In [188]:
print(str.isalnum())

True

In [189]:
print(str.isalpha())

False

In [248]:
l=[10,20,30,40]
print(type(l))

<class 'list'>

In [249]:
print(len(l))

4

In [250]:
for i in range(0,len(l)):
    print(l[i])

10
20
30
40

In [251]:
l.append(50)
print(l)

[10, 20, 30, 40, 50]

In [252]:
d=l[:]

In [253]:
d=l[0:4]
l=l[0:4]
print(l)
print(d)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [254]:
l.sort()
print(l)
print(d)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [255]:
l.reverse()
d.reverse()
print(l)
print(d)

[40, 30, 20, 10]
[40, 30, 20, 10]

In [256]:
l.insert(1,45)
d.insert(1,45)
print(l)
print(d)

[40, 45, 30, 20, 10]
[40, 45, 30, 20, 10]

In [257]:
print(d==l)

True

In [260]:
#d.reverse()
l.reverse()
print(l)
print(d)

[10, 20, 30, 45, 40]
[10, 20, 30, 45, 40]

In [261]:
print(d==l)

True

In [264]:
keys={10,20,30,40}
print(type(keys))
print(keys)

<class 'set'>
{40, 10, 20, 30}

In [263]:
keys.add(20)
print(keys)

{40, 10, 20, 30}

In [265]:
f=keys.copy()
print(f)

{40, 10, 20, 30}

In [266]:
print(f==keys)

True

In [267]:
f=keys

In [268]:
print(f)

{40, 10, 20, 30}

In [269]:
keys.add(60)
print(keys)
print(f)

{40, 10, 20, 60, 30}
{40, 10, 20, 60, 30}

In [270]:
g=keys.copy()
print(f)
print(g)
print(keys)

{40, 10, 20, 60, 30}
{20, 40, 10, 60, 30}
{40, 10, 20, 60, 30}

In [271]:
print(g==f)

True

In [272]:
print(g==keys)

True

In [273]:
g.add(80)
print(g)
print(f)
print(keys)

{80, 20, 40, 10, 60, 30}
{40, 10, 20, 60, 30}
{40, 10, 20, 60, 30}

In [274]:
print(g==f)
print(g==keys)
print(f==keys)

False
False
True

In [275]:
f.clear()
print(f)

set()

In [277]:
mydict={"a":10,"b":20,"c":30}
print(mydict)

{'a': 10, 'b': 20, 'c': 30}

In [278]:
mydict["a"]=30
print(mydict)

{'a': 30, 'b': 20, 'c': 30}

In [281]:
value=mydict["a"]
print(value)

30

In [282]:
mydict.keys()

dict_keys(['a', 'b', 'c'])

In [283]:
mydict.items()

dict_items([('a', 30), ('b', 20), ('c', 30)])

In [284]:
mydict.get("a")

30

In [287]:
print(mydict.get("d"))

None

In [288]:
print(mydict["d"])

KeyError: 'd'

In [292]:
mydict.pop("a")
print(mydict)

{'b': 20, 'c': 30}

In [294]:
mydict.values()

dict_values([20, 30])

In [300]:
l=[10,20,30]
l.pop()
print(l)

[10, 20]

In [301]:
l.remove(20)
print(l)

[10]